DJI_APP_NAME=RPi5
DJI_APP_ID=
DJI_APP_KEY=
DJI_APP_LICENSE=
DJI_DEVELOPER_ACCOUNT=
DJI_BAUD_RATE=460800
DJI_UART_DEVICE=/dev/ttyUSB0
DJI_UART_SECONDARY_DEVICE=/dev/ttyACM0
DJI_AIRCRAFT_FIRMWARE=3.4.18.68
